<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>PathFilter</filter-name>
        <filter-class>Tho.Controllers.PathFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Tho.Controllers.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PathFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Tho.Controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Tho.Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager/MainController</servlet-name>
        <servlet-class>Tho.Controllers.MissionManager.MainContror</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager/EditMissionStatusController</servlet-name>
        <servlet-class>Tho.Controllers.MissionManager.EditMissionStatusControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.MainController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.EditController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.MainController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.AddController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shit</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.Shit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anou</servlet-name>
        <servlet-class>Tho.Controllers.Anou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.EditController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UpdatePasswordController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Tho.Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>Tho.Controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.GetStatusController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.GetStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.AddController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.CheckUsernameController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.CheckUsernameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.CheckIdController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.CheckIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UploadImageController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.DeleteController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.DeactiveController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.DeactiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.UploadImageController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.RemoveController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.SearchUserByFullnameController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.SearchUserByFullnameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.AddUserToMissionController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.AddUserToMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.QuitMissionController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.QuitMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.MainController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.MainController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.ViewMyProfileController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.ViewMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.EditMyProfileController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.EditMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.UpdateMyProfileController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.UpdateMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.UpdateAvatarController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.UpdateAvatarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserViewer.UpdateMyPasswordController</servlet-name>
        <servlet-class>Tho.Controllers.User.UserViewer.UpdateMyPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.QuitMissionController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.QuitMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.SearchUserByFullnameController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.SearchUserByFullnameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionViewer.AddUserToMissionController</servlet-name>
        <servlet-class>Tho.Controllers.User.MissionViewer.AddUserToMissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.ViewMyProfileController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.ViewMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.EditMyProfileController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.EditMyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.MainController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.RemoveController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.AddController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.EditController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.UploadImageController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentManager.CheckCodeController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.EquipmentManager.CheckCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.MainController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.AddController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.UploadImageController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.RemoveController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.EditController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentViewer.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.User.EquipmentViewer.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticManager.GetStatisticController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.StatisticManager.GetStatisticController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticViewer.GetStatisticController</servlet-name>
        <servlet-class>Tho.Controllers.User.StatisticViewer.GetStatisticController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager/MainController</servlet-name>
        <url-pattern>/MissionManager/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager/EditMissionStatusController</servlet-name>
        <url-pattern>/MissionManager/EditMissionStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.MainController</servlet-name>
        <url-pattern>/MissionManager.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.EditController</servlet-name>
        <url-pattern>/MissionManager.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.SearchController</servlet-name>
        <url-pattern>/MissionManager.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.UpdateController</servlet-name>
        <url-pattern>/MissionManager.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.MainController</servlet-name>
        <url-pattern>/UserManager.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.AddController</servlet-name>
        <url-pattern>/UserManager.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.SearchController</servlet-name>
        <url-pattern>/UserManager.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.ViewInfoController</servlet-name>
        <url-pattern>/UserManager.ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.EditController</servlet-name>
        <url-pattern>/UserManager.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UpdatePasswordController</servlet-name>
        <url-pattern>/UserManager.UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UpdateController</servlet-name>
        <url-pattern>/UserManager.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.GetStatusController</servlet-name>
        <url-pattern>/MissionManager.GetStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.AddController</servlet-name>
        <url-pattern>/MissionManager.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.CheckUsernameController</servlet-name>
        <url-pattern>/UserManager.CheckUsernameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.CheckIdController</servlet-name>
        <url-pattern>/MissionManager.CheckIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UploadImageController</servlet-name>
        <url-pattern>/UserManager.UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.DeleteController</servlet-name>
        <url-pattern>/UserManager.DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.DeactiveController</servlet-name>
        <url-pattern>/UserManager.DeactiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.ViewInfoController</servlet-name>
        <url-pattern>/MissionManager.ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.UploadImageController</servlet-name>
        <url-pattern>/MissionManager.UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.RemoveController</servlet-name>
        <url-pattern>/MissionManager.RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.SearchUserByFullnameController</servlet-name>
        <url-pattern>/MissionManager.SearchUserByFullnameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.AddUserToMissionController</servlet-name>
        <url-pattern>/MissionManager.AddUserToMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.QuitMissionController</servlet-name>
        <url-pattern>/MissionManager.QuitMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.MainController</servlet-name>
        <url-pattern>/UserViewer.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.SearchController</servlet-name>
        <url-pattern>/UserViewer.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.ViewInfoController</servlet-name>
        <url-pattern>/UserViewer.ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.MainController</servlet-name>
        <url-pattern>/MissionViewer.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.SearchController</servlet-name>
        <url-pattern>/MissionViewer.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.ViewInfoController</servlet-name>
        <url-pattern>/MissionViewer.ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.ViewMyProfileController</servlet-name>
        <url-pattern>/UserViewer.ViewMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.EditMyProfileController</servlet-name>
        <url-pattern>/UserViewer.EditMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.UpdateMyProfileController</servlet-name>
        <url-pattern>/UserViewer.UpdateMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.UpdateAvatarController</servlet-name>
        <url-pattern>/UserViewer.UpdateAvatarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserViewer.UpdateMyPasswordController</servlet-name>
        <url-pattern>/UserViewer.UpdateMyPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.QuitMissionController</servlet-name>
        <url-pattern>/MissionViewer.QuitMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.SearchUserByFullnameController</servlet-name>
        <url-pattern>/MissionViewer.SearchUserByFullnameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionViewer.AddUserToMissionController</servlet-name>
        <url-pattern>/MissionViewer.AddUserToMissionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.ViewMyProfileController</servlet-name>
        <url-pattern>/UserManager.ViewMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.EditMyProfileController</servlet-name>
        <url-pattern>/UserManager.EditMyProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.MainController</servlet-name>
        <url-pattern>/EquipmentManager.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.SearchController</servlet-name>
        <url-pattern>/EquipmentManager.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.RemoveController</servlet-name>
        <url-pattern>/EquipmentManager.RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.AddController</servlet-name>
        <url-pattern>/EquipmentManager.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.EditController</servlet-name>
        <url-pattern>/EquipmentManager.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.UpdateController</servlet-name>
        <url-pattern>/EquipmentManager.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.UploadImageController</servlet-name>
        <url-pattern>/EquipmentManager.UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentManager.CheckCodeController</servlet-name>
        <url-pattern>/EquipmentManager.CheckCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.SearchController</servlet-name>
        <url-pattern>/EquipmentViewer.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.MainController</servlet-name>
        <url-pattern>/EquipmentViewer.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.AddController</servlet-name>
        <url-pattern>/EquipmentViewer.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.UploadImageController</servlet-name>
        <url-pattern>/EquipmentViewer.UploadImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.RemoveController</servlet-name>
        <url-pattern>/EquipmentViewer.RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.EditController</servlet-name>
        <url-pattern>/EquipmentViewer.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentViewer.UpdateController</servlet-name>
        <url-pattern>/EquipmentViewer.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticManager.GetStatisticController</servlet-name>
        <url-pattern>/StatisticManager.GetStatisticController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticViewer.GetStatisticController</servlet-name>
        <url-pattern>/StatisticViewer.GetStatisticController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
    <code>GET</code>
    <code>POST</code>
    <editor-fold defaultstate="collapsed" desc="HttpServlet methods. Click on the + sign on the left to edit the code.">
    /**
     * Handles the HTTP <code>GET</code> method.
     *
     * @param request servlet request
     * @param response servlet response
     * @throws ServletException if a servlet-specific error occurs
     * @throws IOException if an I/O error occurs
     */
    @Override
    protected void doGet(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {
        processRequest(request, response);
    }

    /**
     * Handles the HTTP <code>POST</code> method.
     *
     * @param request servlet request
     * @param response servlet response
     * @throws ServletException if a servlet-specific error occurs
     * @throws IOException if an I/O error occurs
     */
    @Override
    protected void doPost(HttpServletRequest request, HttpServletResponse response)
            throws ServletException, IOException {
        processRequest(request, response);
    }

    /**
     * Returns a short description of the servlet.
     *
     * @return a String containing servlet description
     */
    @Override
    public String getServletInfo() {
        return "Short description";
    }// </editor-fold>
</web-app>
