<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Tho.Controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Tho.Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedictController</servlet-name>
        <servlet-class>Tho.Controllers.RedictController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectController</servlet-name>
        <servlet-class>Tho.Controllers.RedirectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager/MainController</servlet-name>
        <servlet-class>Tho.Controllers.MissionManager.MainContror</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager/EditMissionStatusController</servlet-name>
        <servlet-class>Tho.Controllers.MissionManager.EditMissionStatusControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.MainController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.EditController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.MainController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.AddController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.SearchController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.ViewInfoController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.ViewInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shit</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.Shit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anou</servlet-name>
        <servlet-class>Tho.Controllers.Anou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.EditController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UpdatePasswordController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UpdateController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Tho.Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>Tho.Controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.GetStatusController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.GetStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.AddController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.CheckUsernameController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.CheckUsernameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionManager.CheckIdController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.MissionManager.CheckIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager.UploadImageController</servlet-name>
        <servlet-class>Tho.Controllers.Admin.UserManager.UploadImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoController</servlet-name>
        <url-pattern>/ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedictController</servlet-name>
        <url-pattern>/RedictController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectController</servlet-name>
        <url-pattern>/RedirectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager/MainController</servlet-name>
        <url-pattern>/MissionManager/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager/EditMissionStatusController</servlet-name>
        <url-pattern>/MissionManager/EditMissionStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.MainController</servlet-name>
        <url-pattern>/MissionManager.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.EditController</servlet-name>
        <url-pattern>/MissionManager.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.SearchController</servlet-name>
        <url-pattern>/MissionManager.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.UpdateController</servlet-name>
        <url-pattern>/MissionManager.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.MainController</servlet-name>
        <url-pattern>/UserManager.MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.AddController</servlet-name>
        <url-pattern>/UserManager.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.SearchController</servlet-name>
        <url-pattern>/UserManager.SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.ViewInfoController</servlet-name>
        <url-pattern>/UserManager.ViewInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shit</servlet-name>
        <url-pattern>/Shit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anou</servlet-name>
        <url-pattern>/Anou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.EditController</servlet-name>
        <url-pattern>/UserManager.EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UpdatePasswordController</servlet-name>
        <url-pattern>/UserManager.UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UpdateController</servlet-name>
        <url-pattern>/UserManager.UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.GetStatusController</servlet-name>
        <url-pattern>/MissionManager.GetStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.AddController</servlet-name>
        <url-pattern>/MissionManager.AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.CheckUsernameController</servlet-name>
        <url-pattern>/UserManager.CheckUsernameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionManager.CheckIdController</servlet-name>
        <url-pattern>/MissionManager.CheckIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager.UploadImageController</servlet-name>
        <url-pattern>/UserManager.UploadImageController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>RegistrationController</welcome-file>
    </welcome-file-list>
</web-app>
